@font-face {
  font-family: 'Graphik';
  src: url("Graphik-Regular-Web.eot");
  src: url("Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
    url("Graphik-Regular-Web.woff2") format("woff2"),
    url("Graphik-Regular-Web.woff") format("woff"),
    url("Graphik-Regular-Web.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Medium-Web.eot");
  src: url("../fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Graphik-Medium-Web.woff2") format("woff2"),
    url("../fonts/Graphik-Medium-Web.woff") format("woff"),
    url("../fonts/Graphik-Medium-Web.ttf") format("truetype");
}


@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Bold-Web.eot");
  src: url("../fonts/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Graphik-Bold-Web.woff2") format("woff2"),
    url("../fonts/Graphik-Bold-Web.woff") format("woff"),
    url("../fonts/Graphik-Bold-Web.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Graphik';
  padding: 0;
  margin: 0;
  border: 0;
  font-size: var(--font-s);
}

:root {
  --font-s: 14px;
  --line-h: 22px;
  --main-width: 1312px;
  --font-h1-d: 48px;
  --font-h2-d: 32px;
  --font-h3-d: 24px;
  --font-h4-d: 18px;
  --font-h1-m: 32px;
  --font-h2-m: 28px;
  --font-h3-m: 20px;
  --font-h4-m: 18px;
  --p-lead-d: 24px;
  --p-big-text-d: 18px;
  --p-common-text-d: 16px;
  --p-auxiliary-text-d: 14px;
  --p-lead-m: 20px;
  --p-big-text-m: 18px;
  --p-common-text-m: 16px;
  --p-auxiliary-text-m: 14px;
  --gap-d: 32px;
  --gap-m: 24px;
  --width-column-d: 12;
  --width-column-p: 8;
  --width-column-m: 4;
}

a {
  text-decoration: none;
  cursor: url(/images/finger.svg), pointer;
  color: #000;
}


a:hover {
  color: #3E29E3;
}

body {
  margin: 0;
  color: #000;
  background-color: #F2F2F2;
  line-height: var(--line-h);
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.block {
  display: grid;
  grid-column: 1/7;
  margin-top: 5.71rem;
}

.block-level {
  margin-top: 2rem;
}

.block-text {
  margin-top: 2.42rem;
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;
}

.burger:hover {
  cursor: url(/images/finger.svg), pointer;
}

.burger:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 0;
  width: 32px;
  height: 2px;
  background-color: #1B1B1B;
}

.burger:active::before,
.burger:active::after {
  height: 3px;
}

.burger:after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 24px;
  height: 2px;
  background-color: #1B1B1B;
}

.content {
  width: 100%;
  grid-area: content;
  grid-column: 4/ -1;
}

.content {
  display: grid;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  gap: var(--gap-d);
}

.demonstration {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  gap: var(--gap-d);
}

.demonstration-block1 {
  display: grid;
  grid-column: 1/4;
}

.demonstration-block2 {
  display: grid;
  grid-column: 4/7;
}

.demonstration-block3 {
  display: grid;
  grid-column: 7/-1;
}


.demonstration-button {
  width: 148px;
  height: 56px;
  color: #FFFFFF;
  border-radius: 32px;
  background: linear-gradient(45deg, #DD80ED 0%, #3D28E3 100%);
}

.demonstration-button-hover {
  background: linear-gradient(225deg, #DD80ED 0%, #3D28E3 100%);
}

.demonstration-button-active {
  background: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);
}

.demonstration-button-unactive {
  background: #CBCBCC;
}

.demonstration-error {
  color: #E80F3B;
  margin-top: .7rem;
  height: 24px;
}

.demonstration-input {
  border-bottom: 2px solid #AEADAE;
  background-color: #F2F2F2 !important;
  outline: none;
  height: 24px;
  width: 100%;
  padding-bottom: .5rem;
  cursor: url(/images/finger.svg), pointer;
}

.demonstration-input-typing {
  border-bottom: 4px solid #3E29E3;
}

.demonstration-input-error {
  border-bottom: 4px solid #E80F3B;
}

.demonstration-input-hover {
  border-bottom: 2px solid #3E29E3;
}

.demonstration-input::placeholder {
  color: #1B1B1B;
}

.demonstration-placeholder {
  height: 24px;
}

.demonstration-placeholder-error {
  color: #E80F3B;
}

.description-of-styles {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  gap: var(--gap-d);
}

.description-of-styles-examples {
  display: grid;
  grid-column: 1/-1;
  border-top: 1px solid #CBCBCC;
}

.description-of-styles-examples-item {
  display: flex;
  align-items: center;
  margin-top: 3.14rem;
}

.description-of-styles-examples-item p {
  transition: .2s;
  width: 22.28rem;
}


.description-of-styles__text {
  display: flex;
  color: #7D7D7D;
  margin-bottom: -33px;
}

.description-of-styles-text__item {
  margin-right: 2.28rem;
  margin-bottom: -2px;
}

.description-of-styles-text__item:hover {
  border-bottom: 2px solid #3E29E3;
}

.fallinglist {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  grid-template-rows: 200px;
  gap: var(--gap-d);
}

.fallinglist-arrow {
  position: absolute;
  top: 12px;
  right: 2px;
  width: 7px;
  height: 7px;
  transition: .2s;
  border-top: 2px solid #3E29E3;
  border-right: 2px solid #3E29E3;
}

.fallinglist-arrow-bottom {
  transform-origin: center center;
  transform: rotate(135deg);
}

.fallinglist-arrow-top {
  top: 15px;
  transform-origin: center center;
  transform: rotate(-45deg);
}

.fallinglist-block1 {
  position: relative;
  display: grid;
  grid-column: 1/4;
}

.fallinglist-block2 {
  position: relative;
  display: grid;
  grid-column: 4/7;
}

.fallinglist-block3 {
  position: relative;
  display: grid;
  grid-column: 7/-1;
}

.fallinglist-placeholder {
  padding: 8px 0px;
  border-bottom: 2px solid #AEADAE;
}

.fallinglist-placeholder-active {
  border-bottom: 2px solid #3E29E3;
}

.fallinglist-placeholder:hover {
  cursor: url(/images/finger.svg), pointer;
}

.fallinglist-setofitems {
  width: 100%;
  position: absolute;
  display: none;
  top: 40px;
  left: 0;
  background-color: #FFFFFF;
  transition: .1s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.fallinglist-setofitems-item {
  padding: 8px 15px;
  color: #1B1B1B;
}

.fallinglist-setofitems-item-blue {
  color: #3D28E1;
}

.fallinglist-setofitems-item:hover {
  cursor: url(/images/finger.svg), pointer;
}

.fallinglist-setofitems-item:hover {
  color: #FFFFFF;
  background-color: #3E29E3;
}

.fallinglist-wrapper-placeholder-and-arrow {
  position: relative;
  background-color: #F2F2F2;
}

.fio {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  grid-area: footer;
  grid-column: 4/-1;
}


.h1-d {
  font-weight: bold;
  font-size: var(--font-h1-d);
  line-height: calc(var(--font-h1-d) + 8px);
}

.h2-d {
  font-weight: bold;
  font-size: var(--font-h2-d);
  line-height: calc(var(--font-h2-d) + 8px);
}

.h3-d {
  font-weight: 500;
  font-size: var(--font-h3-d);
  line-height: calc(var(--font-h3-d) + 8px);
}

.h4-d {
  font-weight: 500;
  font-size: var(--font-h4-d);
  line-height: calc(var(--font-h4-d) + 8px);
}

.h1-m {
  font-weight: bold;
  font-size: var(--font-h1-m);
  line-height: calc(var(--font-h1-m) + 8px);
  --font-h2-m: 28px;
  --font-h3-m: 20px;
  --font-h4-m: 18px;
}

.h2-m {
  font-weight: bold;
  font-size: var(--font-h2-m);
  line-height: calc(var(--font-h2-m) + 8px);
  --font-h3-m: 20px;
  --font-h4-m: 18px;
}

.h3-m {
  font-weight: 500;
  font-size: var(--font-h3-m);
  line-height: calc(var(--font-h3-m) + 8px);
  --font-h4-m: 18px;
}

.h4-m {
  font-weight: 500;
  font-size: var(--font-h4-m);
  line-height: calc(var(--font-h4-m) + 8px);
}

.header {
  grid-area: header;
  background-color: #F1F1F1;
  z-index: 1;
}

.header.fixed {
  position: fixed;
  height: 100px;
  width: 100%;
  min-width: 1072px;
  max-width: 1312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.layout {
  min-width: 1072px;
  max-width: 1312px;
  margin: 0px auto;
  min-height: 100%;
  display: grid;
  grid-template-areas: "header header header" "sidebar content content" "sidebar footer footer";
  grid-template-columns: repeat(var(--width-column-d), minmax(60px, 80px));
  gap: var(--gap-d);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.logo-img {
  margin-bottom: -6px;
}

.logo:hover {
  cursor: url(/images/finger.svg), pointer;
}

.logo-and-fio {
  opacity: .99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: 1.3s;
  transform: translateX(-100%);
  z-index: 2;
}

.menu-active {
  transform: translateX(0%);
}

.menu-disactive {
  transform: translateX(-70%);
}

.menu-background {
  position: relative;
}

.menu-cross {
  content: '';
  position: absolute;
  right: 63px;
  top: 32px;
  width: 34px;
  height: 34px;
  z-index: 4;
}

.menu-cross:active::before,
.menu-cross:active::after {
  height: 3px;
}


.menu-cross:hover {
  cursor: url(/images/finger.svg), pointer;
}

.menu-cross:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  width: 24px;
  height: 2px;
  background-color: #FFFFFF;
  transform: rotate(45deg);
}

.menu-cross:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  width: 24px;
  height: 2px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
}

.menu-img {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.menu-info-and-logo {
  position: absolute;
  top: 1%;
  left: 8px;
  height: 98%;
  width: 56%;
  background-color: #fff;
  z-index: 3;
}

.menu-info-and-logo-link {
  position: absolute;
  width: 100%;
  left: 22%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.menu-info-and-logo__arrow {
  position: absolute;
  overflow: hidden;
  top: -4px;
  right: -4px;
  width: 7px;
  height: 7px;
  padding-bottom: 6px;
  background-color: #FFFFFF;
  border-top: 2px solid #3E29E3;
  border-right: 2px solid #3E29E3;
  z-index: 2;
}

.menu-info-and-logo__squareandarrow {
  background-color: #FFFFFF;
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid #3E29E3;
  z-index: 1;
}

.menu-info-and-logo-link__link {
  font-weight: 500;
  color: #3E29E3;
  margin-left: 5%;
}

.menu-info-and-logo-link-circle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.menu-info-and-logo-link-circle:hover {
  cursor: url(/images/finger.svg), pointer;
}

.menu-info-and-logo__wrapper {
  display: flex;
  margin: 24px 54px;
  width: 90%;
}

.menu-info-and-logo__phone {
  margin-top: 40px;
}


.menu-info-and-logo__logo {
  height: 100%;
  width: 20%;
}

.menu-info-and-logo__description {
  margin-top: 38px;
}

.menu-info-and-logo__fio {
  margin-top: 54px;
}

.menu-info-and-logo__info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  height: 100%;
  width: 70%;
}

.nav {
  position: sticky;
  top: 262px;
}

.nav-item:hover {
  cursor: url(/images/finger.svg), pointer;
}

.p-lead-d {

  font-size: var(--p-lead-d);
  line-height: calc(var(--p-lead-d) + 8px);
}

.p-big-text-d {
  font-weight: 500;
  font-size: var(--p-big-text-d);
  line-height: calc(var(--p-big-text-d) + 8px);
}

.p-common-text-d {
  font-size: var(--p-common-text-d);
  line-height: calc(var(--p-common-text-d) + 8px);
}


.p-auxiliary-d {
  word-break: break-all;
  font-size: var(--p-auxiliary-text-d);
  line-height: calc(var(--p-auxiliary-text-d) + 8px);
}

.p-lead-m {
  font-size: var(--p-lead-m);
  line-height: calc(var(--p-lead-m) + 8px);
}

.p-bigtext-m {
  font-size: var(--p-big-text-m);
  line-height: calc(var(--p-big-text-m) + 8px);
}

.p-common-text-m {
  font-size: var(--p-common-text-m);
  line-height: calc(var(--p-common-text-m) + 8px);
}

.p-auxiliary-m {
  word-break: break-all;
  font-size: var(--p-auxiliary-text-m);
  line-height: calc(var(--p-auxiliary-text-m) + 8px);
}

.sidebar {
  grid-area: sidebar;
  grid-column: 1/3;
  margin-top: 100px;
}


.view {
  display: grid;
  grid-column: 1/-1;
  margin-top: 4.5rem;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  gap: var(--gap-d);
}

.view-description {
  display: grid;
  grid-template-columns: repeat(9, minmax(60px, 80px));
  gap: var(--gap-d);
}


.view-description-block1 {
  display: grid;
  grid-column: 1/3;
}

.view-description-block2 {
  display: grid;
  grid-column: 3/4;
}

.view-description-block3 {
  display: grid;
  grid-column: 5/7;
}

.view-description-block4 {
  display: grid;
  grid-column: 7/9;
}

.view-description-number {
  margin-top: 1.42rem;
}

.view-full {
  grid-column: 1/-1;
}

.view-img {
  display: grid;
  grid-column: 1/-1;
}

.view-img-picture {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}


@media(max-width: 1200px) {
  :root {
    --main-width: 928px;
  }

  .block {
    grid-column: 1/6;
  }

  .demonstration {
    grid-column: 1/-1;
    grid-template-columns: repeat(6, minmax(56px, 88px));
  }

  .demonstration-block1 {
    grid-column: 1/3;
  }

  .demonstration-block2 {
    grid-column: 3/5;
  }

  .demonstration-block3 {
    grid-column: 5/-1;
  }


  .description-of-styles {
    grid-template-columns: repeat(6, minmax(56px, 88px));
    grid-column: 1/-1;
  }

  .content {
    grid-template-columns: repeat(6, minmax(56px, 88px));
    grid-column: 3/ -1;
  }

  .fallinglist {
    grid-column: 1/-1;
    grid-template-columns: repeat(6, minmax(56px, 88px));
  }

  .fallinglist-block1 {
    grid-column: 1/3;
  }

  .fallinglist-block2 {
    grid-column: 3/5;
  }

  .fallinglist-block3 {
    grid-column: 5/-1;
  }

  .footer {
    grid-column: 3/-1;
  }

  .header.fixed {
    width: 100%;
    min-width: 672px;
    max-width: 928px;
  }

  .layout {
    min-width: 672px;
    max-width: 928px;
    grid-template-areas: "header header header" "sidebar content content" "sidebar footer footer";
    grid-template-columns: repeat(var(--width-column-p), minmax(56px, 88px));
  }

  .menu-info-and-logo {
    width: 76%;
  }

  .sidebar {
    grid-column: 1/3;
  }

  .view {
    grid-template-columns: repeat(6, minmax(56px, 88px));
    gap: var(--gap-d);
    grid-column: 1/-1;
  }

  .view-description {
    grid-template-columns: repeat(12, minmax(28px, 44px));
    gap: 16px;
    grid-column: 1/-1;
  }

  .view-description-block1 {
    grid-column: 1/4;
  }

  .view-description-block2 {
    grid-column: 4/6;
  }

  .view-description-block3 {
    grid-column: 7/9;
  }

  .view-description-block4 {
    grid-column: 10/-1;
  }
}

@media(max-width: 736px) {
  :root {
    --main-width: 424px;
  }

  .block {
    grid-column: 1/-1;
  }

  .content {
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    gap: var(--gap-m);
    grid-column: 1/ -1;
  }

  .demonstration {
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gap-m);
  }

  .demonstration-block1 {
    grid-column: 1/4;
  }

  .demonstration-block2 {
    grid-column: 1/4;
  }

  .demonstration-block3 {
    grid-column: 1/4;
  }

  .description-of-styles {
    grid-template-columns: repeat(4, minmax(56px, 88px));
    grid-column: 1/-1;
  }

  .description-of-styles-examples-item {
    flex-direction: column-reverse;
    align-items: normal;
  }

  .description-of-styles-examples-item p {
    transition: .2s;
  }

  .fallinglist {
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gap-m);
  }

  .fallinglist-block1 {
    grid-column: 1/4;
  }

  .fallinglist-block2 {
    grid-column: 1/4;
  }

  .fallinglist-block3 {
    grid-column: 1/4;
  }

  .fallinglist-wrapper-placeholder-and-arrow {
    height: 200px;
  }

  .footer {
    grid-column: 1/-1;
  }

  .header.fixed {
    width: 100%;
    min-width: 296px;
    max-width: 424px;
  }

  .layout {
    min-width: 296px;
    max-width: 424px;
    grid-template-areas: "header header" "content content" "footer footer";
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    gap: var(--gap-m);
  }

  .menu-info-and-logo {
    width: 97.5%;
  }

  .menu-cross:before {
    background-color: #CBCBCC;
  }

  .menu-cross:after {
    background-color: #CBCBCC;
  }

  .menu-info-and-logo__wrapper {
    margin: 12px 10px;
    flex-direction: column;
  }

  .menu-info-and-logo__fio {
    margin-top: 6px;
  }

  .menu-info-and-logo__description {
    line-height: 14px;
    font-size: 12px;
    margin-top: 6px;
  }

  .menu-info-and-logo-link {
    bottom: 15px;
    left: 0;
  }

  .menu-info-and-logo__phone {
    margin-top: 6px;
  }

  .sidebar {
    display: none;
  }

  .view {
    grid-column: 1/-1;
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    gap: var(--gap-m);
  }

  .view-description-block1 {
    grid-column: 1/2;
  }

  .view-description-block2 {
    grid-column: 2/3;
  }

  .view-description-block3 {
    grid-column: 3/4;
  }

  .view-description-block4 {
    grid-column: 4/-1;
  }

  .view-description {
    grid-column: 1/-1;
    grid-template-columns: repeat(var(--width-column-m), minmax(56px, 88px));
    gap: var(--gap-m);
  }
}